
@font-face
{
	font-family: "Material Design Icons";
	font-style: normal;
	font-weight: normal;
	
	src:
		url("../fonts/material-design-icons/regular.eot");
	src:
		url("../fonts/material-design-icons/regular.woff2") format("woff2"),
		url("../fonts/material-design-icons/regular.woff") format("woff"),
		url("../fonts/material-design-icons/regular.tff") format("truetype");
}

body
{
	background-color: rgba(20, 20, 20, 1);
	color: rgba(255, 255, 255, 1);
	
	font-family: sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
}

.container_main
{
	max-width: 1280px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.container_header
{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container_navbar
{
	background-color: rgba(10, 10, 10, 1);
	
	/* To remove whitespace between the navigation bar items with inline block display */
	font-size: 0px;
	/* To remove redundant vertical space caused by the line height property already being set to a non-zero value */
	line-height: 0px;
}

.container_project_header
{
	background-color: rgba(10, 10, 10, 1);

	margin-top: 25px;
}

.container_content
{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.container_contact_form_sent
{
	background-color: rgba(10, 10, 10, 1);

	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.container_footer
{
	background-color: rgba(10, 10, 10, 1);
	
	margin-bottom: 15px;
}

.container_post_footer
{
	margin-bottom: 15px;
}

.border_section
{
	border-color: rgba(100, 100, 100, 1);
	
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}

.header_logo img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar_item
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 144px;
	height: 52px;
	line-height: 52px;
}

.navbar_item .icon
{
	position: absolute;
	font-family: "Material Design Icons";
	font-size: 20px;
	text-align: center;
	width: 52px;
}

.navbar_item .text
{
	/* Font family and font size properties are explicitly set for them to be applied to the navigation bar item */
	font-family: sans-serif;
	font-size: 13px;
	text-align: left;
	width: 92px;
	margin-left: 48px;
}

.navbar_item .icon a
{
	color: rgba(255, 255, 255, 1);
	
	display: inline-block;
	width: 52px;
	height: 52px;
	text-decoration: none;
}

.navbar_item .text a
{
	color: rgba(255, 255, 255, 1);
	
	display: inline-block;
	width: 92px;
	height: 52px;
	padding-left: 12px;
	text-decoration: none;
}

.navbar_item:hover,
.navbar_item.active:hover
{
	background-color: rgba(100, 100, 100, 1);
}

.navbar_item.active
{
	background-color: rgba(50, 50, 50, 1);
}

.project_title
{
	font-weight: bold;
	font-size: 19px;
	line-height: 42px;
	text-align: center;
}

.project_information
{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 0px;
	vertical-align: top;
}

.project_screenshots
{
	width: 676px;
	float: right;
	padding-left: 11px;
	box-sizing: border-box;
}

.project_details
{
	width: 348px;
	float: left;
	padding-right: 8px;
	line-height: 18px;
	box-sizing: border-box;
}

.project_details .item
{
	display: inline-block;
	width: 100%;
}

.project_details .item:not(:first-child)
{
	padding-top: 10px;
}

.project_details .item .property
{
	width: 45%;
	float: left;
}

.project_details .item .value
{
	width: 55%;
	float: right;
	padding-top: 0px;
}

.content_entry_home,
.content_entry_section_project
{
	position: relative;
}

.content_entry_home:not(:last-child),
.content_entry_content_project:not(:last-child)
{
	margin-bottom: 25px;
}

.content_entry_home img
{
	display: block;
	max-width: 100%;
	height: auto;
}

.content_entry_home .title_container
{
	background-image:
		linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 125, 0, 1) 30%, rgba(255, 125, 0, 1) 70%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 125, 0, 1) 30%, rgba(255, 125, 0, 1) 70%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(10, 10, 10, 1) 30%, rgba(10, 10, 10, 1) 70%, rgba(0, 0, 0, 0) 100%);
	background-size:
		100% 1px,
		100% 1px,
		100% 100%;
	background-position:
		0% 0%,
		0% 100%,
		0% 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
}

.content_entry_section_project .title_container
{
	background-image:
		linear-gradient(to right, rgba(255, 125, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(to right, rgba(255, 125, 0, 1) 50%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(to right, rgba(10, 10, 10, 1) 50%, rgba(0, 0, 0, 0) 100%);
	background-size:
		100% 1px,
		100% 1px,
		100% 100%;
	background-position:
		0% 0%,
		0% 100%,
		0% 100%;
	background-repeat: no-repeat;

	width: 100%;
	height: auto;
}

.content_entry_home .title_text
{
	font-size: 15px;
	text-align: center;
	line-height: 32px;
}

.content_entry_section_project .title_text
{
	font-size: 15px;
	line-height: 32px;
	padding-left: 20px;
	padding-right: 20px;
}

.content_entry_content_project .item
{
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.content_entry_content_project .item:hover
{
	background-color: rgba(100, 100, 100, 1);
}

.content_entry_content_project .item .extra_info
{
	float: right;
}

/* Used for the normal text when no items are available in the content area */
.content_entry_content_project .text_info
{
	padding-top: 12px;
}

.text_info:not(:first-child)
{
	padding-top: 10px;
}

.text_heading_info
{
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
}

.text_heading_info:not(:first-child)
{
	padding-top: 25px;
}

.project_heading_info_first
{
	padding-top: 10px;
}

.contact_form
{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.contact_form label
{
	display: block;
	padding-bottom: 8px;
}

.contact_form label:not(:first-child)
{
	padding-top: 16px;
}

.contact_form input[type="text"],
.contact_form textarea
{
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	box-sizing: border-box;
	outline: none;
}

.contact_form textarea
{
	height: 198px;
	resize: none;
}

.contact_form input[type="text"]:focus,
.contact_form textarea:focus
{
	outline-style: solid;
	outline-color: rgba(255, 125, 0, 1);
	outline-width: 2px;
}

.contact_form .submit
{
	text-align: center;
	padding-top: 12px;
}

.contact_form input[type="submit"]
{
	width: 150px;
}

.contact_form .email_error,
.contact_form .subject_error,
.contact_form .message_error
{
	color: rgba(255, 125, 0, 1);

	font-style: italic;
	padding-top: 8px;
}

.footer_copyright
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer_jump_to_top
{
	display: none;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer_jump_to_top button[type="button"]
{
	background-color: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 1);
	
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	width: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer_jump_to_top button[type="button"]:hover
{
	background-color: rgba(100, 100, 100, 1);

	cursor: pointer;
}

/* Adds an outline to the button to replace the standard behaviour and improve consistency with other button like elements */
.footer_jump_to_top button[type="button"]:active,
.footer_jump_to_top button[type="button"]:focus
{
	outline-style: dotted;
	outline-width: 1px;
}

/* Removes the default border within the button surrounding the text when it is in the ACTIVE and FOCUS states */
.footer_jump_to_top button[type="button"]::-moz-focus-inner
{
	border: none;
}

.container_contact_form_sent .back_button
{
	margin-top: 20px;
}

.container_project_header .back_button
{
	position: absolute;
	float: left;
	padding-left: 16px;
}

.container_contact_form_sent .back_button a
{
	width: 128px;
	height: 32px;
	line-height: 32px;
}

.container_project_header .back_button a
{
	width: 92px;
	height: 42px;
	line-height: 42px;
}

.back_button a
{
	display: block;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.back_button a:hover
{
	background-color: rgba(100, 100, 100, 1);
}

hr
{
	color: rgba(100, 100, 100, 1);

	border-top-style: solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-width: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}

hr.orange_div
{
	color: rgba(255, 125, 0, 1);
}

a
{
	color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1023px)
{
	
}

@media only screen and (max-width: 767px)
{
	
}

@media only screen and (max-width: 599px)
{
	
}

@media only screen and (max-width: 479px)
{
	
}
